.block{
  display: block;
  width: 100%;
  border: none;
  background-color: black;
  color: gold;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.date {
  width: 60%;
}
.month {
  width: 59%;
}
.year {
  width: 60%;
}